.list {
    list-style-type: none;
} 
.link {
    text-decoration: none;
}
button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455; 
    background-color: #FFFFFF;
}

h1, h2 {
    font-weight: 700;
}

h3 {
    font-weight: 500;
}

p {
    font-weight: 400;
}

.logo-web {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5; 
}
.logo-studio {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.menu-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42; 
}

.menu-link:hover, .menu-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
}

.menu-address {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.menu-address:hover , .menu-address:focus {
    color: #404bbf;
}

.name-section {
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    -transform: capitalize;
    color: #2e2f42;
}

.name-title {
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFF;
}

.button-order {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFF;
    background: var(--IRIS, #4D5AE5);
    cursor: pointer;
}

.button-order:hover, .button-order:focus {
    background: var(--OCEAN, #404BBF);
}

.section {
    background-color: #2e2f42;
}

.section-3 {
    background-color: #F4F4FD;
}

.name-section {
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.title-paragraph {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transform: capitalize;
    color: #2e2f42;
}

.text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.list-section-3 {
    background-color: #FFFFFF;
}

.footer {
    background-color: #2e2f42;
}

.text-footer {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.span-studio {
    color: #f4f4fd;
}